:root {
  /* ====== Colors ====== */

  /* === Primary === */

  --darkCyan: hsl(185, 75%, 39%);
  --veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
  --darkGrayishBlue: hsl(227, 10%, 46%);
  --veryLightGrayichBlue: hsl(228, 9%, 92%);
  --white: white;

  /* === Neutral === */

  --darkGray: hsl(0, 0%, 59%);

  /* === Typography === */

  --kumbhSans: 'Kumbh Sans', sans-serif;
  --normalWeight: 400;
  --boldWeight: 700;
}
